@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color: #1F3850;
  text-align: center;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column; /* Utilisation de flexbox avec une disposition en colonne */
  font-family: comfortaa;
}

.separated-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.requin-mechant {
  width: 40em;
  height:40em;
  display: block;
  margin-top: 50px;
  margin-left:auto;
  margin-right: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius:50%;
  img:hover {
    cursor: none;
  }
}

.requin-mechant:hover {
  cursor: none;
}

/* #button {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  width: 60px;
  height:60px;
} */


.body{
  height: 100vh;
}

.body_color:hover {
  color: black;
  background-color: rgb(110, 110, 110);
  border-radius: 4px;
  border-top: 5px solid rgb(110, 110, 110);
  border-bottom: 5px solid rgb(110, 110, 110);
  border-left: 10px solid rgb(110, 110, 110);
  border-right: 10px solid rgb(110, 110, 110);
/* box-shadow: 2px 2px 3px grey; */
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}

.bottom-section {
  /* margin-top : 100px; */
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  background-color: white; /* Couleur de fond pour la partie inférieure */
  color: black; /* Couleur du texte pour la partie inférieure */
  padding: 20px; /* Ajoutez une marge intérieure pour l'espace autour du contenu */
  font-size: 20px;
}

.vroum {
  flex: 1; /* Le contenu de cette div occupera autant d'espace que possible */
  padding: 10px;
  font-size: 16px;
  height: 100vh;
}

.cars {
  flex: 1; /* Le contenu de cette div occupera autant d'espace que possible */
  
  height: 75vh;
  aspect-ratio: 1/1;
  width: 100%;
   object-fit:cover;
  object-position:left;
  border-radius: 4px;
  padding-top: 125px;
}

#developpement {
  /* text-align: center; */
  margin-top: 250px;
  font-size: 12px;
  font-family: comfortaa;
  padding-top: 80px;
}

  .navbar-lewagon {
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0,0,0,.1);
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-light .navbar-nav .nav-link:hover{
    color: black;
    background-color: rgb(110, 110, 110);
    border-radius: 4px;
    border-top: 2,5px solid rgb(110, 110, 110);
    border-bottom: 2,5px solid rgb(110, 110, 110);
    border-left: 2,5px solid rgb(110, 110, 110);
    border-right: 2,5px solid rgb(110, 110, 110);
  }
 
  .navbar-nav .me-auto {
    display: flex;
    list-style: none; /* Supprimez les puces de la liste */
    justify-content: center;
    font-family: Comfortaa;
  }
  
  .shark {
    margin-right: 5px; /* Ajoutez une marge à droite à l'image */
    width: 50px;
    height:50px;
  }
